<div class='row'>
  <div class='col-md-6'>

    <div class='card bg-light'>
      <h1>Add Store</h1>
      <form action="/create/store" method="post">
        <div class='form-group'>
          <label for="name">Enter Name of Store</label>
          <input class='form-control' type="text" name="name">
        </div>
        <div class='form-group'>
          <label for="location">Enter Location</label>
          <input class='form-control' type="text" name="location">
        </div>
        <button type="submit" name="button">Add Store</button>
      </form>
    </div>

    <% if @store_saved %>
      <div class="alert alert-success">
        <h3><%= @store.name %> at <%= @store.location%> was successfully saved.</h3>
      </div>
    <% end %>
    <% if @store_not_saved %>
      <div class="alert alert-danger">
        <h3>Store was not saved! Please make sure to enter a new name and location.</h3>
      </div>
    <% end %>

    <% @stores.each do |store| %>
      <h4><%= store.name %></h4>
    <% end %>
  </div>


  <div class='col-md-6'>
    <div class='card bg-light'>
      <h1>Add Shoe</h1>
      <form action="/create/shoe" method="post">
        <div class='form-group'>
          <label for="brand">Enter Brand of Shoe</label>
          <input class='form-control' type="text" name="brand">
        </div>
        <div class='form-group'>
          <label for="price">Enter Price</label>
          <input class='form-control' type="text" name="price">
        </div>
        <button type="submit" name="button">Add Shoe</button>
      </form>
    </div>
    <% if @shoe_saved %>
      <div class="alert alert-success">
        <h3><%= @shoe.brand %> at $<%= @shoe.price%>0 was successfully saved.</h3>
      </div>
    <% end %>
    <% if @shoe_not_saved %>
      <div class="alert alert-danger">
        <h3>Shoe was not saved! Please make sure to enter a new brand and price.</h3>
      </div>
    <% end %>

    <% @shoes.each do |shoe| %>
      <h4><%= shoe.brand %></h4>
    <% end %>
  </div>
</div>
