<h1>Shoes:</h1>

<% if @shoes.any? %>
  <table class="table table-striped table-info">
    <thead>
      <tr>
        <th>Brand</th>
        <th>Price</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
    </thead>
  </tbody>
    <% @shoes.each do |shoe| %>
      <tr>
        <td><a href='/shoe/<%= shoe.id %>'><%= shoe.brand %></a></td>
        <td><%= shoe.price %>0</td>
        <td>
          <form action="/shoe/update/<%= shoe.id %>" method="get">
            <button type="submit">Update</button>
          </form>
        </td>
        <td>
          <form action="/shoe/delete/<%= shoe.id %>" method="post">
            <button type="submit">Delete</button>
          </form>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<%else%>
  <h2>Currently no shoes in inventory</h2>
<%end%>

<% if @shoe_delete %>
  <div class="alert alert-warning">
    <h3><%= @deleted_shoe.brand %> was succesfully deleted</h3>
  </div>
<% end %>
