
  <div class='row justify-content-md-center'>
    <div class='col-lg-6'>
      <div class='card bg-light'>
        <h1>Brand: <%= @shoe.brand %></h1><br>
        <h1>Price: <%= @shoe.price %></h1>
        <form action="/shoe/update/<%= @shoe.id %>" method="get">
          <button type="submit" class='btn btn-info btn-block'>Update</button>
        </form>
        <form action="/shoe/delete/<%= @shoe.id %>" method="post">
          <button type="submit" class='btn btn-danger btn-block'>Delete</button>
        </form>
      </div>
    </div>
  </div>

<% if @brand_updated %>
  <div class="alert alert-success">
    <h3>Brand: <%= @old_brand %> is now Brand: <%= @shoe.brand%></h3>
  </div>
<% end %>
<% if @brand_not_updated %>
  <div class="alert alert-danger">
    <h3>Brand was not updated! Please enter a new Name.</h3>
  </div>
<% end %>

<% if @price_updated %>
  <div class="alert alert-success">
    <h3>Orginial price of: $<%= @old_price %> is now: $<%= @shoe.price%></h3>
  </div>
<% end %>
<% if @price_not_updated %>
  <div class="alert alert-danger">
    <h3>Price was not updated! Please enter a new price.</h3>
  </div>
<% end %>
